__pycache__
sbatch_logs
logs
wandb
misc
misc_backup
todel.py
temp
*.pyth
todel
.vscode
data/
data_*/
data
data/vggsound/h264_video_25fps_256side_16000hz_aac/
data/vggsound/h264_video_25fps_256side_16000hz_aac/_lcgAEkolXI_30.0_40.0_-0.1_4s.mp4
git_untracked/
vis/
model/modules/feat_extractors/visual/S3D_kinetics400_torchified.pt